body {
    font-family: monospace;
}

h1, p {
    text-align: center;
}

li:hover {
    background-color: khaki;
}

li:active {
    font-family: sans-serif;
}

li {
    list-style: none;
    text-align: center;
}